
</div>
<div class="footer-padding"></div>
  <div class="footer">
<<<<<<< HEAD
    <p>Made with ❤️ by Arslan Hafeez</p>
=======
    <p>Arslan Hafeez</p>
>>>>>>> refs/remotes/origin/master
  </div>
</div>
</body>
</html>
